body{
    margin: 0;
    text-align: right;
    direction: rtl;
    font-family: Arial Hebrew, Arial;
    font-size: 0.9em;
}
* {
    box-sizing: border-box;
}
header {
  width: 100%;
  height: 106px;
  position: fixed;
  background-image:url('images/header_bg.png');
  background-color: #999;
  top: 0px;

}
.header {
  width: 900px;
  height: 106px;
  margin: auto;
  text-align: center;
  position: relative;
  display: flex;

}
.logo {
  width: 142px;
  height: 93px;
  background-image: url('images/paz_logo.png');
  position: absolute;
  top: 30px;
  right: 0;
}
.left-header {
  width: 800px;
  height: 90px;
  flex-grow: 1;
  position: absolute;
  left: -30px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.search {
  width: 132px;
  height: 19px;
  position: relative;
  right: 620px;
  top: -30px;
  display: flex;
  background-image: url('images/search_input.png');
  
}
.search > input {
  width: 126px;
  height: 14px;
  border: none;
}
.search > button {
  width: 19px;
  height: 19px;
  background-image: url('images/search_button.png');
  border-left: none;
  cursor: pointer;
}
ul {
list-style: none;
padding: 0;
margin: 0;
display: flex;
}
ul > li {
display: inline-block;
}
ul > li > .dropdown-content > a:hover {
    color: rgb(21, 98, 156);
    font-weight: bold;
  }
  .dropdown > a {
    position: relative;
    top: 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #999;
    top: 105px;
  }
  .dropdown-content > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .line-top {
    width: 4px;
    height: 21px;
    margin: 0 16px;
    position: relative;
    top: 6px;
    background-image: url('images/menu_sep.png');
  }

  .home-icon {
    margin:0 16px;
    position: relative;
    top: 6px;
  }
  .container {
    width: 900px;
    margin: auto;
    margin-top: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main-top {
    display: flex;
    width: 900px;
    justify-content: space-between;
}

.main-top > #div1 {
  background-image: url('images/1908364606615453350.JPG');
  background-color: #f1f1f1;
  border-bottom-right-radius: 20px;
  width: 293px;
  height: 355px;
  display: flex;
  align-items: flex-end;
}
.text-cont {
  width: 248px;
  height: 97px;
  background-color: rgba(131, 131, 128, 0.85);
  border-bottom-right-radius: 20px; 
  margin: 7px;
}
.text-cont > h5 {
  margin: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.text-cont > p {
  margin: 5px;
  color: #fff;
  font-size: 13px;
}
.text-cont > div {
  float: left;
  color: #fff;
  font-size: 13px;
}

.white {
  text-decoration: none;
  font-size: 13px;
  color: white;
  
}
.blue-arrow {
  margin-left: 5px;
  
}

.main-top > #div2 {
    background-image: url('images/Picture-046410251500.jpg');;
    background-color: #f1f1f1;
    border-bottom-right-radius: 10%;
    width: 293px;
    height: 355px;
    display: flex;
    align-items: flex-end;
  }
  .main-top > #div3 {
    background-image: url('images/פזקר_-291_354410564000.jpg');;
    background-color: #f1f1f1;
    border-bottom-right-radius: 10%;
    width: 293px;
    height: 355px;
    display: flex;
    align-items: flex-end;
  }

  .main-bottom {
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin-top: 10px;
  }

.main-bottom > .bg-bottom {
  background-image: url('images/small_cube_bg.png');
  width: 292px;
  height: 216px;
  padding: 10px;
}
  .text-cont4 {
    width: 228px;
    height: 77px;
    background-image: url('images/paz_250x110059890678.jpg');
    margin: 5px;
  }
  .bg-bottom > h5 {
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(83, 82, 82);
  }
  .bg-bottom > div {
    float: left;
    margin-top: 20px;
  }
  .bg-bottom > img {
    margin: 7px;
  }
  .grey {
    text-decoration: none;
    font-size: 14px;
    color: gray;
    
  }
  .yellow-arrow {
    margin-left: 10px;
  }
  footer {
    width: 100%;
    height: 38px;
    position: fixed;
    background-image:url('images/footer_bg.png');
    background-color: #999;
    bottom: 0px;
    z-index: 100;
  }
  .footer {
    width: 900px;
    height: 38px;
    margin: auto;
    padding: 10px;
    position: relative;
    display: flex; 
  }
  .ul-footer {
    padding: 0;
    width: 900px;
    list-style: none;
    display: flex;
    margin: auto;
  }
  li a {
    color: #fff;
    bottom: 15px;
    text-decoration: none;
    margin-left: 2px;
    margin-right: 2px;
  }
  .red-text {
    color: red;
    bottom: 15px;
    text-decoration: none;
    margin-right: 2px;
  }
  .line {
    color: #fff;
    bottom: 15px;
    margin-left: 2px;
    margin-right: 2px;
    }
  .facebook {
    bottom: 15px;
    margin-left: 2px;
}