body{
    margin: 0;
    text-align: right;
    direction: rtl;
    font-family: Arial Hebrew, Arial;
    font-size: 0.9em;
}
* {
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 106px;
    position: fixed;
    background-image:url('images/header_bg.png');
    background-color: #999;
    top: 0px;

  }
  .header {
    width: 900px;
    height: 106px;
    border: 1px solid red;
    margin: auto;
    text-align: center;
    position: relative;
    display: flex;

  }
  .logo {
    width: 142px;
    height: 93px;
    background-image: url('images/paz_logo.png');
    position: absolute;
    top: 30px;
    right: 0;
  }
.left-header {
    border: 1px solid rgb(255, 217, 0);
    width: 700px;
    height: 90px;
    flex-grow: 1;
    position: absolute;
    left: 0;
}
  
nav {
  font-size: 14px;
  padding: 0 20px 0 20px;
}

nav > ul {
  list-style: none;
  padding: 0;
  margin: auto;
}


nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  display: block;
  text-decoration: none;
  color: rgb(220, 241, 98);
  padding: 15px;
  font-family: arial;
  font-size: 14px;
}
  nav > ul > li > a:hover, .dropdown-content > a:hover {
      background-color: rgb(8, 31, 46);
    }

  .container {
    width: 900px;
    margin: auto;
    margin-top: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main-top {
    border: 1px solid rgb(25, 0, 255);
    display: flex;
    width: 900px;
    justify-content: space-between;
}

.main-top > #div1 {
  background-image: url('images/1908364606615453350.JPG');;
  background-color: #f1f1f1;
  border-bottom-right-radius: 20px;
  width: 293px;
  height: 355px;
  display: flex;
  align-items: flex-end;
}
.text-cont {
  width: 228px;
  height: 77px;
  background-color: rgba(131, 131, 128, 0.85);
  border-bottom-right-radius: 20px; 
  margin: 5px;
}
.text-cont > h5 {
  margin: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.text-cont > p {
  margin: 5px;
  color: #fff;
  font-size: 13px;
}
.main-top > #div2 {
    background-image: url('images/Picture-046410251500.jpg');;
    background-color: #f1f1f1;
    border-bottom-right-radius: 10%;
    text-align: center;
    line-height: 75px;
    width: 293px;
    height: 355px;
  }
  .main-top > #div3 {
    background-image: url('images/פזקר_-291_354410564000.jpg');;
    background-color: #f1f1f1;
    border-bottom-right-radius: 10%;
    text-align: center;
    line-height: 75px;
    width: 293px;
    height: 355px;
  }

  .main-bottom {
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin-top: 10px;
  }

.main-bottom > .bg-bottom {
  background-image: url('images/small_cube_bg.png');
  border-bottom-right-radius: 20px;
  width: 292px;
  height: 216px;
  padding: 10px;
}
.main-bottom > #div4 {
    background-image: url('images/small_cube_bg.png');
    border-bottom-right-radius: 20px;
    width: 292px;
    height: 216px;
    padding: 10px;
  }

  .text-cont4 {
    width: 228px;
    height: 77px;
    background-image: url('images/paz_250x110059890678.jpg');
    margin: 5px;
  }
  .bg-bottom > h5 {
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  .bg-bottom > div {
    float: left;
    margin-top: 20px;

  }
  #div4 > img {
    margin: 5px;
  }
  .bg-bottom > a {
    text-decoration: none;
    font-size: 13px;
  }
  footer {
    width: 100%;
    height: 38px;
    position: fixed;
    background-image:url('images/footer_bg.png');
    background-color: #999;
    bottom: 0px;
    z-index: 100;
  }
  .footer {
    width: 900px;
    height: 38px;
    border: 1px solid red;
    margin: auto;
    padding: 10px;
    position: relative;
    display: flex; 
  }
  .ul-footer {
    padding: 0;
    width: 900px;
    list-style: none;
    display: flex;
    border: 1px solid rgb(0, 255, 76);
    margin: auto;
  }
  li a {
    color: #fff;
    bottom: 15px;
    text-decoration: none;
    margin-left: 2px;
    margin-right: 2px;
  }
  .red-text {
    color: red;
    bottom: 15px;
    text-decoration: none;
    margin-right: 2px;
  }
  .line {
    color: #fff;
    bottom: 15px;
    margin-left: 2px;
    margin-right: 2px;
    }
  .facebook {
    bottom: 15px;
    margin-left: 2px;
}