body{
    margin: 0;
    text-align: right;
    direction: rtl;
    font-family: Arial Hebrew, Arial;
    font-size: 0.8em;
}
* {
    box-sizing: border-box;
}
header {
  width: 100%;
  height: 106px;
  position: fixed;
  background-image:url('images/header_bg.png');
  background-color: #999;
  top: 0px;

}
.header {
  width: 900px;
  height: 106px;
  margin: auto;
  text-align: center;
  position: relative;
  display: flex;

}
.logo {
  width: 142px;
  height: 93px;
  background-image: url('images/paz_logo.png');
  position: absolute;
  top: 30px;
  right: -10px;
}
.left-header {
  width: 800px;
  height: 90px;
  flex-grow: 1;
  position: absolute;
  left: -30px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.search {
  width: 132px;
  height: 19px;
  position: relative;
  right: 620px;
  top: -30px;
  display: flex;
  background-image: url('images/search_input.png');
  
}
.search > input {
  width: 126px;
  height: 14px;
  border: none;
}
.search > button {
  width: 19px;
  height: 19px;
  background-image: url('images/search_button.png');
  border-left: none;
  cursor: pointer;
}
.english {
  font-size: 0.9em;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  position: relative;
  right: 183px;
  top: -12px;
}
ul {
list-style: none;
padding: 0;
margin: 0;
display: flex;
}
ul > li {
display: inline-block;
}
.dropdown > a {
  position: relative;
  top: 10px;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.dropdown:hover > a {
  position: relative;
  top: 10px;
  display: inline-block;
  text-decoration: none;
  color: #00449C;
  font-size: 15px;
  font-weight: bold;
}
.dropdown-content {
  display: none;
  position: absolute;
  background: #909090
  url('images/menu_dropdown_bg.png')
  repeat-x 0 0;
  top: 96px;
  padding: 10px 2px;
}
.dropdown-content > a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content > a:hover {
  background-color:#BCBCBC;
  color: #00449C;
}
.line-top {
  width: 4px;
  height: 21px;
  margin: 0 16px;
  position: relative;
  top: 6px;
  background-image: url('images/menu_sep.png');
}
.line-drop {
  width: 100%;
  height: 1px;
  padding: 0px;
  margin: 0px;
  background: url('images/menu_dropdown_sep.png') repeat-x 0 0;
  display: inline-block;
}
  .home-icon {
    margin:0 16px;
    position: relative;
    top: 6px;
  }

.main-top {
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin: auto;
    margin-top: 110px;
    padding-top: 32px;
}

.main-top > .right-div {
  background-color: #f1f1f1;
  width: 122px;
  height: 36px;
  display: flex;
  align-items: center;
}
.contact-right-cont {
    width: 110px;
    height: 36px;
    padding-right: 12px;
    font-size: 13px;
    margin-top: 20px;
    color: #5c5c5c;
    line-height: 20px;

}
.main-top > .center-div {
  width: 440px;
}
.finder {
  text-decoration: none;
  font-size: 13px;
  color: #5c5c5c;
  margin-bottom: 20px;
}
.a-contact {
  text-decoration: none;
  font-size: 13px;
  color: #5c5c5c;
}
.a-contact:hover {
  color: #00449C;
}
h4 {
    font-size: 15px;
    font-weight: bold;
    color: #5c5c5c;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 12px;
    padding-bottom: 4px;
}

form {
    background-image: url('images/contact_form_bg.png');
    width: 383px;
    height: 356px;
    padding: 12px 18px;
    color: #5c5c5c;
  }

  fieldset {
    margin: auto;
    width: 80%;
    border: none;
}
  .form-row {
    display: flex;
    padding: 12px;
    position: relative;
}

.form-row > input {
  margin-right: 80px;
  position: absolute;
}
.form-row > label {
  margin-right: auto;
  position: absolute;
}
.form-row > textarea {
  width: 210px;
  height: 100px;
  border: 1px solid #dadce0;
  resize: none;
  color: #5c5c5c;
  padding: 3px;
}
  .main-top > .left-div {
    width: 292px;
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
.left-containers {
  width: 293px;
  height: 168px;
  padding: 18px 22px 15px;
  background: url('images/cube_bg.png') no-repeat 0 0;

}
h3 {
  font-size: 15px;
  font-weight: bold;
  color: #00449C;
  margin-top: auto;
}
.left-text {
  display: block;
  color: #5c5c5c;
  width: 180px;
}
  footer {
    width: 100%;
    height: 38px;
    position: fixed;
    background-image:url('images/footer_bg.png');
    background-color: #999;
    bottom: 0px;
    z-index: 100;
  }
  .footer {
    width: 900px;
    height: 38px;
    margin: auto;
    padding: 10px;
    position: relative;
    display: flex; 
  }
  .ul-footer {
    padding: 0;
    width: 900px;
    list-style: none;
    display: flex;
    margin: auto;
  }
  li a {
    color: #fff;
    bottom: 15px;
    text-decoration: none;
    margin-left: 2px;
    margin-right: 2px;
  }
  .red-text {
    color: red;
    bottom: 15px;
    text-decoration: none;
    margin-right: 2px;
  }
  .line {
    color: #fff;
    bottom: 15px;
    margin-left: 2px;
    margin-right: 2px;
    }
  .facebook {
    bottom: 15px;
    margin-left: 2px;
}