body{
    margin: 0;
    text-align: right;
    direction: rtl;
    font-family: Arial Hebrew, Arial;
    font-size: 0.9em;
}
* {
    box-sizing: border-box;
}
header {
  width: 100%;
  height: 106px;
  position: fixed;
  background-image:url('images/header_bg.png');
  background-color: #999;
  top: 0px;

}
.header {
  width: 900px;
  height: 106px;
  margin: auto;
  text-align: center;
  position: relative;
  display: flex;

}
.logo {
  width: 142px;
  height: 93px;
  background-image: url('images/paz_logo.png');
  position: absolute;
  top: 30px;
  right: -10px;
}
.left-header {
  width: 800px;
  height: 90px;
  flex-grow: 1;
  position: absolute;
  left: -30px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.search {
  width: 132px;
  height: 19px;
  position: relative;
  right: 620px;
  top: -30px;
  display: flex;
  background-image: url('images/search_input.png');
  
}
.search > input {
  width: 126px;
  height: 14px;
  border: none;
}
.search > button {
  width: 19px;
  height: 19px;
  background-image: url('images/search_button.png');
  border-left: none;
  cursor: pointer;
}
.english {
  font-size: 0.9em;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  position: relative;
  right: 183px;
  top: -12px;
}
ul {
list-style: none;
padding: 0;
margin: 0;
display: flex;
}
ul > li {
display: inline-block;
}
.dropdown > a {
  position: relative;
  top: 10px;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  
}
.dropdown-content {
  display: none;
  position: absolute;
  background: #909090
  url('images/menu_dropdown_bg.png')
  repeat-x 0 0;
  top: 96px;
  padding: 10px 2px;
}
.dropdown-content > a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content > a:hover {
  background-color:#BCBCBC;
}
.line-top {
  width: 4px;
  height: 21px;
  margin: 0 16px;
  position: relative;
  top: 6px;
  background-image: url('images/menu_sep.png');
}
.line-drop {
  width: 100%;
  height: 1px;
  padding: 0px;
  margin: 0px;
  background: url('images/menu_dropdown_sep.png') repeat-x 0 0;
  display: inline-block;
}
  .home-icon {
    margin:0 16px;
    position: relative;
    top: 6px;
  }

.main-top {
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin: auto;
    margin-top: 110px;
    padding-top: 32px;
}

.main-top > .right-div {
  background-color: #f1f1f1;
  width: 122px;
  height: 36px;
  display: flex;
  align-items: flex-end;
}
.contact-right-cont {
  width: 110px;
    height: 36px;
    overflow: hidden;
    padding-right: 12px;
    font-size: 13px;
    margin-bottom: 4px;
    color: #5c5c5c;
    line-height: 32px;
  
}

.main-top > .center-div {
    background-image: url('images/contact_form_bg.png');
    width: 347px;
    width: 383px;
    height: 356px;
    display: flex;
    align-items: flex-end;
    padding: 12px 18px;
    border-style: solid solid none solid;
  
  }
  .main-top > .left-div {
    background-color: #f1f1f1;
    border-bottom-right-radius: 20px;
    width: 293px;
    height: 355px;
    display: flex;
    align-items: flex-end;
  }

  footer {
    width: 100%;
    height: 38px;
    position: fixed;
    background-image:url('images/footer_bg.png');
    background-color: #999;
    bottom: 0px;
    z-index: 100;
  }
  .footer {
    width: 900px;
    height: 38px;
    margin: auto;
    padding: 10px;
    position: relative;
    display: flex; 
  }
  .ul-footer {
    padding: 0;
    width: 900px;
    list-style: none;
    display: flex;
    margin: auto;
  }
  li a {
    color: #fff;
    bottom: 15px;
    text-decoration: none;
    margin-left: 2px;
    margin-right: 2px;
  }
  .red-text {
    color: red;
    bottom: 15px;
    text-decoration: none;
    margin-right: 2px;
  }
  .line {
    color: #fff;
    bottom: 15px;
    margin-left: 2px;
    margin-right: 2px;
    }
  .facebook {
    bottom: 15px;
    margin-left: 2px;
}